---
import { AppManifest } from "@/configs";

import { Container } from "@/components/core";
import { SocialLinksLayout } from "@/components/interfaces/layouts/SocialLinksLayout";
import { BackToTopButton } from "@/components/interfaces/navigation/_Footer/BackToTopButton";
import { FooterLinkGroup } from "@/components/interfaces/navigation/_Footer/FooterLinkGroup";

const FOOTER_LINKS = [
	{
		title: "Website",
		links: [
			{ href: AppManifest.links.pages["/home"], text: "home" },
			{ href: AppManifest.links.pages["/search"], text: "search" },
			{ href: AppManifest.links.pages["/about"], text: "about" },
			{ href: AppManifest.links.internal.SITEMAP, text: "sitemap" },
		],
	},
	{
		title: "Music",
		links: [
			{ href: AppManifest.links.pages["/music"], text: "music" },
			{ href: AppManifest.links.pages["/music/artists"], text: "artists" },
			{ href: AppManifest.links.pages["/music/genres"], text: "genres" },
		],
	},
];
---
<footer class="py-3 border-t border-slate-200 flex flex-col">
	<Container class="flex flex-col items-start justify-between gap-4 md:flex-row">
		<BackToTopButton client:visible/>
		<div class="flex flex-wrap gap-12">
			{
				FOOTER_LINKS.map(
					group => (
						<FooterLinkGroup heading={group.title}>
							{
								group.links.map(
									link => (
										<FooterLinkGroup.Link href={link.href}>
											{link.text}
										</FooterLinkGroup.Link>
									)
								)
							}
						</FooterLinkGroup>
					)
				)
			}
		</div>
	</Container>
	<hr class="mt-10 mb-3 border-t border-slate-200"/>
	<Container class="flex flex-col-reverse py-2 justify-between md:flex-row gap-5">
		<p class="text-sm text-slate-600 font-light">
			Copyright&copy; Fidel Pierre Elie {(new Date()).getFullYear()} - All Rights Reserved
		</p>
		<SocialLinksLayout/>
	</Container>
</footer>
