---
import { twJoin } from "tailwind-merge";

import { AppManifest } from "@/configs";

import { Container, Link } from "@/components/core";

export interface Props {
	class?: string;
	fixed?: boolean;
}

const { fixed, class: _class } = Astro.props;
---
<header class={twJoin(
	"top-0 left-0 w-full z-30 py-3 border-b border-slate-200 bg-white",
	fixed && "fixed",
	_class
)}>
	<Container as="nav" class="flex items-center justify-between">
		<Link
			href={AppManifest.links.pages["/home"]}
			class="p-0.5 px-2 border rounded-lg font-heading border-slate-200 transition-colors duration-700 hover:border-blue-500"
		>
			FiPE
		</Link>
		<ul class="flex items-center gap-2.5">
			<li>
				<Link href={AppManifest.links.pages["/music"]}>
					music
				</Link>
			</li>
			<li>
				<Link href={AppManifest.links.pages["/about"]}>
					about
				</Link>
			</li>
			<li>
				<Link href={AppManifest.links.pages["/search"]}>
					search
				</Link>
			</li>
		</ul>
	</Container>
</header>
