---
export interface Props {
	slug: string;
	url: string;
	artist: string;
	title: string;
}

const { artist, title, slug, url } = Astro.props;
---
<a
	href={slug}
	class="inline-flex items-end not-prose px-0.5 h-1 group"
>
	<img
		src={url}
		class="mr-1 relative top-1.5 w-6 h-6 rounded-sm"
	/>
	<span class="relative top-2 transition-all group-hover:text-blue-500 max-w-48 truncate">
		${artist} - ${title}
	</span>
</a>
