---
import { AppManifest } from "@/configs";

import { fetchMusicArtists, fetchMusicGenres } from "@/libraries/server";

import { Container, Icon, Link } from "@/components/core";
import { MusicCurrentlyPlayingPane } from "@/components/interfaces";
import { MusicArtistsView } from "@/components/pages/music/artists/MusicArtistsView";
import { RootLayout } from "@/pages/_root.layout";

const [initialArtists, genres] = await Promise.all([
	fetchMusicArtists(Astro.request),
	fetchMusicGenres(Astro.request),
]);
---
<RootLayout title="Music artists">
	<Container class="pt-8 pb-32 space-y-2 min-h-screen flex flex-col">
		<div class="space-y-1">
			<h1 class="font-heading text-5xl tracking-tighter">artists</h1>
			<h2 class="text-lg font-light tracking-tight text-blue-500">
				Search for music through the people behind the projects.
			</h2>
		</div>
		<div class="flex items-center border border-slate-200 rounded-lg px-2 w-min">
			<p class="font-heading whitespace-nowrap">
				Search by:
			</p>
			<Link.Button
				href={AppManifest.links.pages["/music"]}
				intent="secondary"
				class="flex items-center gap-2 border-none"
			>
				<Icon name="note" class="text-xl text-blue-500"/>
				post
			</Link.Button>
			<div class="w-px h-5 bg-slate-200"/>
			<Link.Button
				href={AppManifest.links.pages["/music/genres"]}
				intent="secondary"
				class="flex items-center gap-2 border-none"
			>
				<Icon name="playlist" class="text-xl text-blue-500"/>
				genre
			</Link.Button>
		</div>
		<div class="w-full">
			<MusicCurrentlyPlayingPane transition:persist client:load/>
		</div>
		<div class="flex flex-grow astro:flex-grow astro:block">
			<MusicArtistsView
				initial={[initialArtists]}
				genres={genres.items}
				client:load
			/>
		</div>
	</Container>
</RootLayout>
