---
import { fetchMusicArtists, fetchMusicGenres } from "@/libraries/server";

import { RootLayout } from "@/pages/_root.layout";

import { Container } from "@/components/core";
import { HeadingSection, MusicSearchOptions } from "@/components/interfaces";
import { MusicArtistsView } from "@/components/pages/music/artists/MusicArtistsView";

const [initialArtists, genres] = await Promise.all([
	fetchMusicArtists(Astro.request),
	fetchMusicGenres(Astro.request),
]);
---
<RootLayout title="Music artists">
	<Container class="min-h-screen flex flex-col">
		<HeadingSection
			title="Artists"
			subtitle="Search for music through the people behind the projects"
		/>
		<MusicSearchOptions options={["posts", "genres"]}/>
		<div class="flex flex-grow astro:flex-grow astro:block mt-5">
			<MusicArtistsView
				initial={[initialArtists]}
				genres={genres.items}
				client:load
			/>
		</div>
	</Container>
</RootLayout>
