---
import { getCollection } from "astro:content";

import { Container } from "@/components/core";
import { MusicSearchOptions } from "@/components/interfaces";
import { MusicGenreView } from "@/components/pages/music/genres/MusicGenreView";
import { RootLayout } from "@/pages/_root.layout";

const artists = await getCollection("artists");

const genres = Array.from(
	new Set(artists.map((artist) => artist.data.genres).flat()),
);
---
<RootLayout title="Music genres" class="flex flex-col min-h-screen space-y-2  pt-8 pb-20">
	<Container class="flex-grow space-y-2">
		<div class="flex flex-col space-y-1">
			<h1 class="font-heading text-5xl tracking-tighter">genres</h1>
			<h2 class="text-lg font-light tracking-tight text-blue-500">
				Find posts based on the sound you like.
			</h2>
		</div>
		<MusicSearchOptions options={["posts", "artists"]}/>
	</Container>
	<div class="astro:flex-grow astro:block astro:w-full">
		<MusicGenreView genres={genres} client:load/>
	</div>
</RootLayout>
