---
import { fetchMusicGenres } from "@/libraries/server";

import { RootLayout } from "@/pages/_root.layout";

import { Container } from "@/components/core";
import { HeadingSection, MusicSearchOptions } from "@/components/interfaces";
import { MusicGenreView } from "@/components/pages/music/genres/MusicGenreView";

const request = new Request(
	`${Astro.request.url}?page=1&size=${Number.MAX_SAFE_INTEGER}`,
);
const genres = await fetchMusicGenres(request);
---
<RootLayout title="Music genres" class="flex flex-col min-h-screen space-y-2  pt-8 pb-20">
	<Container class="space-y-2">
		<HeadingSection title="Genres" subtitle="Find posts based on the sound you like."/>
		<MusicSearchOptions options={["posts", "artists"]}/>
	</Container>
	<div class="astro:flex-grow astro:block astro:w-full">
		<MusicGenreView genres={genres.items} client:load/>
	</div>
</RootLayout>
