---
import { getCollection } from "astro:content";

import { Container } from "@/components/core";
import { RootLayout } from "@/pages/_root.layout";
import { MusicGenreView } from "@/components/pages/music/genres/MusicGenreView";

const artists = await getCollection("artists");

const genres = Array.from(
	new Set(artists.map((artist) => artist.data.genres).flat()),
);
---
<RootLayout title="Music genres" class="flex flex-col min-h-screen">
	<Container class="flex-grow py-10 space-y-5">
		<div class="flex flex-col space-y-1">
			<h1 class="font-heading text-5xl tracking-tighter">genres</h1>
			<h2 class="text-lg font-light tracking-tight text-blue-500">
				Find posts based on the sound you like.
			</h2>
		</div>
		<div>
			<MusicGenreView genres={genres} client:load/>
		</div>
	</Container>
</RootLayout>
