---
import { AppManifest } from "@/configs";

import { fetchMusicProjects, fetchMusicPostsTotal } from "@/libraries/server";

import { RootLayout } from "@/pages/_root.layout";

import { Container, Grid, Link } from "@/components/core";
import {
	MusicProjectEntry,
	MusicCurrentlyPlayingPane,
	MusicSearchOptions,
	SubscriberForm,
HeadingSection,
} from "@/components/interfaces";

const request = new Request(`${Astro.request.url}?page=1&size=3`);
const [displayPosts, totalPosts] = await Promise.all([
	fetchMusicProjects(request),
	fetchMusicPostsTotal(),
]);
---
<RootLayout title="Home" class="min-h-screen">
	<Container class="flex flex-col gap-5">
		<HeadingSection title="Music" subtitle="My latest thoughts on various music projects"/>
		<MusicSearchOptions options={["posts", "artists", "genres"]}/>
		<Grid>
			{
				displayPosts.items.map(post => (
					<MusicProjectEntry post={post} info={false} />
				))
			}
		</Grid>
		<div class="flex items-center justify-end gap-3" id="nav-container">
			<Link href={AppManifest.links.pages["/music"]}>
				More ({totalPosts - 3})
			</Link>
		</div>
		<div class="astro:block astro:min-h-36">
			<MusicCurrentlyPlayingPane client:load/>
		</div>
		<hr class="border-t border-slate-200 mt-2.5 mb-10"/>
		<div>
			<SubscriberForm client:visible/>
		</div>
	</Container>
</RootLayout>
