---
import { getCollection } from "astro:content";

import { distributeInRandomOrder } from "@fi.dev/typescript";

import { RootLayout } from "@/pages/_root.layout";
import { Container, Grid } from "@/components/core";
import { MusicProjectLink, MusicFeelingLuckyButton } from "@/components/interfaces";

const musicPosts = await getCollection("music");

const randomMusicPosts = distributeInRandomOrder(musicPosts, 3);
---
<RootLayout title="Home" class="min-h-screen">
	<Container class="py-10">
		<div class="flex flex-col space-y-5">
			<div class="space-y-1">
				<h2 class="text-5xl font-heading">music</h2>
				<h3 class="text-lg font-light tracking-tight text-blue-500">
					My thoughts on music projects old and new - {musicPosts.length} and counting
				</h3>
			</div>
			<Grid>
				{
					randomMusicPosts.map(post => (
						<MusicProjectLink
							post={{ ...post.data, slug: post.slug} }
							info={false}
						/>
					))
				}
			</Grid>
			<div class="flex items-center justify-end gap-3" id="nav-container">
				<MusicFeelingLuckyButton client:visible/>
				<a href="/music" class="underline decoration-blue-500">
					See all posts
				</a>
			</div>
		</div>
	</Container>
</RootLayout>
