---
import { getCollection } from "astro:content";

import { distributeInRandomOrder } from "@fi.dev/typescript";

import { AppManifest } from "@/configs";

import { RootLayout } from "@/pages/_root.layout";
import { Container, Grid, Link } from "@/components/core";
import {
	MusicProjectEntry,
	MusicCurrentlyPlayingPane,
	MusicSearchOptions,
	SubscriberForm,
} from "@/components/interfaces";

const musicPosts = await getCollection("music");

const randomMusicPosts = distributeInRandomOrder(musicPosts, 3);
---
<RootLayout title="Home" class="min-h-screen">
	<Container class="flex flex-col gap-5">
		<div class="space-y-1">
			<h2 class="text-5xl font-heading">music</h2>
			<h3 class="text-lg font-light font-heading tracking-tight text-blue-500">
				My latest thoughts on various music projects
			</h3>
		</div>
		<MusicSearchOptions options={["posts", "artists", "genres"]}/>
		<Grid>
			{
				randomMusicPosts.map(post => (
					<MusicProjectEntry
						post={{ ...post.data, slug: post.slug} }
						info={false}
					/>
				))
			}
		</Grid>
		<div class="flex items-center justify-end gap-3" id="nav-container">
			<Link href={AppManifest.links.pages["/music"]}>
				More ({musicPosts.length - 3})
			</Link>
		</div>
		<div class="astro:block astro:min-h-36">
			<MusicCurrentlyPlayingPane client:load/>
		</div>
		<hr class="border-t border-slate-200 mt-2.5 mb-10"/>
		<div>
			<SubscriberForm client:visible/>
		</div>
	</Container>
</RootLayout>
