---
import { fetchMusicGenres, fetchMusicProjects } from "@/libraries/api";

import { Container } from "@/components/core";
import { RootLayout } from "@/pages/_root.layout";
import { MusicProjectsView } from "@/components/pages/music/index/MusicProjectsView";

const [initialProjects, genres] = await Promise.all([
	fetchMusicProjects(Astro.request),
	fetchMusicGenres(Astro.request)
]);
---
<RootLayout title="Music">
	<Container class="pt-10 pb-32 min-h-screen space-y-5 flex flex-col">
		<div class="flex flex-col justify-between gap-2">
			<div class="flex flex-col space-y-1">
				<h1 class="font-heading text-5xl tracking-tighter">music</h1>
				<h2 class="text-lg font-light tracking-tight text-blue-500">
					Find something new to listen
				</h2>
			</div>
		</div>
		<div class="flex items-center gap-2">
			<a href="/music/artists" class="bg-blue-500 px-3 py-2 rounded-lg font-heading font-light text-white">
				Search by artists
			</a>
			<a href="/music/genres" class="bg-blue-500 px-3 py-2 rounded-lg font-heading font-light text-white">
				Search by genres
			</a>
		</div>
		<hr class="border-t border-slate-200 my-10"/>
		<div class="flex flex-grow astro-island:flex-grow astro-island:block">
			<MusicProjectsView
				initial={[initialProjects]}
				genres={genres.items}
				client:load
			/>
		</div>
	</Container>
</RootLayout>
