---
import { AppManifest } from "@/configs";

import { fetchMusicGenres, fetchMusicProjects } from "@/libraries/server";

import { Container, Link } from "@/components/core";
import { MusicCurrentlyPlayingPane } from "@/components/interfaces";
import { MusicProjectsView } from "@/components/pages/music/index/MusicProjectsView";
import { RootLayout } from "@/pages/_root.layout";

const [initialProjects, genres] = await Promise.all([
	fetchMusicProjects(Astro.request),
	fetchMusicGenres(Astro.request),
]);
---
<RootLayout title="Music">
	<Container class="pt-10 pb-32 min-h-screen space-y-5 flex flex-col">
		<div class="flex flex-col justify-between gap-2">
			<div class="flex flex-col space-y-1">
				<h1 class="font-heading text-5xl tracking-tighter">music</h1>
				<h2 class="text-lg font-light font-heading tracking-tight text-blue-500">
					Find something new to listen to
				</h2>
			</div>
		</div>
		<div class="flex items-center gap-2">
			<Link.Button href={AppManifest.links.pages["/music/artists"]}>
				Search by artists
			</Link.Button>
			<Link.Button href={AppManifest.links.pages["/music/genres"]}>
				Search by genres
			</Link.Button>
		</div>
		<div>
			<MusicCurrentlyPlayingPane client:load/>
		</div>
		<div class="flex flex-grow astro:flex-grow astro:block">
			<MusicProjectsView
				initial={[initialProjects]}
				genres={genres.items}
				client:load
			/>
		</div>
	</Container>
</RootLayout>
