---
import { astroMeta } from "@/libraries/utilities";
import { fetchMusicGenres, fetchMusicProjects } from "@/libraries/server";

import { RootLayout } from "@/pages/_root.layout";

import { Container } from "@/components/core";
import { HeadingSection, MusicSearchOptions } from "@/components/interfaces";
import { MusicProjectsView } from "@/components/pages/music/index/MusicProjectsView";

const meta = astroMeta({
	title: "Music",
	description:
		"Find something to listen to from a catalogue of music posts, filter and search your way to a new sound",
});

const [initialProjects, genres] = await Promise.all([
	fetchMusicProjects(Astro.request),
	fetchMusicGenres(Astro.request),
]);
---
<RootLayout {...meta}>
	<Container class="min-h-screen space-y-2 flex flex-col">
		<HeadingSection title={meta.title} subtitle="Find something new to listen to"/>
		<MusicSearchOptions options={["artists", "genres"]}/>
		<div class="flex flex-grow astro:flex-grow astro:block astro:w-full">
			<MusicProjectsView
				initial={[initialProjects]}
				genres={genres.items}
				client:load
			/>
		</div>
	</Container>
</RootLayout>
