---
import { getCollection } from "astro:content";

import { paginateEntries } from "@/libraries/utilities";

import { Container } from "@/components/core";
import { RootLayout } from "@/pages/_root.layout";
import { MusicProjectsView } from "@/components/pages/music/index/MusicProjectsView";

const musicPosts = await getCollection("music");

const { items: posts, pagination } = paginateEntries(
	musicPosts,
	{ page: 1, defaultSize: 15 }
);
---
<RootLayout title="Music">
	<Container class="pt-10 pb-32 min-h-screen space-y-5">
		<div class="flex flex-col justify-between gap-2">
			<div class="flex flex-col space-y-1">
				<h1 class="font-heading text-5xl tracking-tighter">music</h1>
				<h2 class="text-lg font-light tracking-tight text-blue-500">
					Find something new to listen
				</h2>
			</div>
		</div>
		<hr class="border-t border-slate-200 my-10"/>
		<div>
			<MusicProjectsView
				posts={posts.map(post => ({ ...post.data, slug: post.slug }))}
				pagination={pagination}
				client:load
			/>
		</div>
	</Container>
</RootLayout>
