## App Environment Variables
# PORT=8080
# FLAGS=TOOLBAR,DEVTOOLS

## Spotify Environment Variables
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

# Fill this in after auth flow is complete
SPOTIFY_REFRESH_CODE=

NEON_DATABSE_URL=

KIT_API_KEY=

