---
import { twJoin } from "tailwind-merge";

import { MusicPostRatingMap } from "@/libraries/schemas";

export interface Props {
	class?: string;
	rating: keyof typeof MusicPostRatingMap
}

const { class: _class, rating } = Astro.props;
---
<div
	class={twJoin(
		"py-1 px-2 border border-slate-200 rounded-lg w-min whitespace-nowrap",
		_class
	)}
>
	<p class="text-sm mt-1 tracking-tight font-heading">{MusicPostRatingMap[rating]}</p>
</div>

